header{
  background-color: rgb(72,71,139);
  color: khaki;
  display:flex;
    
}

h1{
  text-align: center;
  /* width: 100%; */
}

body{
    margin:0 auto;
    background-color:rgb(191, 195, 199);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* width:100%; */
    /* min-height: 100vh;    */
}


*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

header img{
    max-width: 90px;
}

/* Style the tab */
.tab {
  position: relative;
  background-color: rgb(72,71,139);
  margin-left: 5px;   
  margin-top: 5px;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
  position: relative;
  display: block;
  background-color: inherit;
  color:khaki;
  width:100%;
  padding: 10px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 5px; */
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(238,45,94);
}
  
  /* Create an active/current "tab button" class */
.tab button.active {
  background-color: red;
}
  
.card{
  background-color: beige;
}


h5{
  color:tomato;
}

footer{
  text-align: center;
}

#todolist .card-header{
  background-color:rgba(255, 0, 0, 0.699);
}

#inprogresslist .card-header{
  background-color:darkorange;
}

#reviewlist .card-header{
  background-color:gold;
}

#donelist .card-header{
  background-color:greenyellow;
}



  
  