header{
  background-color: rgb(72,71,139);
  color: khaki;
  display:flex;
    
}

h1{
  text-align: center;
  /* width: 100%; */
}

body{
    margin:0 auto;
    background-color:rgb(191, 195, 199);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-image: url("../images/todolist.jpg");
    }

    /* width:100%; */
    /* min-height: 100vh;    */



*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

header img{
    max-width: 90px;
}

/* Style the tab */
.tab {
  position: relative;
  background-color: rgb(72,71,139);
  /* margin-left: 5px;    */
  margin-top: 5px;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
  position: relative;
  display: block;
  background-color: inherit;
  color:khaki;
  width:100%;
  padding: 10px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 5px; */
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(238,45,94);
}
  
  /* Create an active/current "tab button" class */
.tab button.active {
  background-color: red;
}
  
  /* Style the tab content */
.tabcontent {
  margin: 5px;
  padding: 0px 12px;
  height: auto;
  float: left;

  
  
}

h5{
  color:tomato;
}

footer{
  text-align: center;
}

.card{
  background-color: lightgrey;
}
  
  